# Core functionality - changes here should be rare!
/src/app.py                   @juancedricklopez24
/src/backend/database.py      @juancedricklopez24
/src/backend/routers/auth.py  @juancedricklopez24

# The frontend will need refactored soon to be more object oriented.
/src/static/   @juancedricklopez24
